/* CSS File for Todo List Project */

:root {
	--header-bg: #353535;
	--sidebar-bg: #d1d1d1;
	--content-bg: #f0f0f0;
	--button-green: #4caf50;
	--button-red: #ff4444;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 6rem 1fr;
}

.header-container {
	background-color: var(--header-bg);
	grid-column: span 2;
	padding-left: 2rem;
	display: flex;
	align-items: center;
}

.header-text {
	color: white;
}

.sidebar-container {
	background-color: var(--sidebar-bg);
	grid-row: span 2;
	padding: 0 2rem 0 2rem;
	display: flex;
	flex-direction: column;
}

.sidebar-button,
.add-project-button {
	font-size: 1rem;
	background-color: var(--sidebar-bg);
	padding: 0.5rem 1rem 0.5rem 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar-button.active {
	font-weight: bold;
}

button {
	border: none;
	text-align: left;
	cursor: pointer;
	transition: filter 0.1s;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

button:hover {
	filter: brightness(90%);
}

input {
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	margin: 0.5rem 0 0.5rem 0;
}

form {
	display: flex;
	flex-direction: column;
}

.form-buttons {
	display: flex;
	gap: 1rem;
	max-width: 30vw;
	box-sizing: border-box;
}

.form-buttons button {
	flex: 1;
	text-align: center;
}

.task-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 30vw;
	padding: 0.25rem;
	font-size: 1.25rem;
	box-sizing: border-box;
	transition: background-color 0.1s;
}

.task-item:hover {
	background-color: rgb(210, 210, 210);
}

.left-task-container input[type="checkbox"] {
	transform: scale(1.25);
	margin-right: 0.5rem;
}

.delete-btn {
	background-color: transparent;
	margin-top: -3px;
	padding: 1px 2px 1px 2px;
	user-select: none;
	font-size: 1.1rem;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s;
}

.task-item:hover .delete-btn,
.task-item:focus-within .delete-btn,
.project-item:hover .delete-btn {
	opacity: 1;
	pointer-events: auto;
}

.task-input {
	max-width: 30vw;
	box-sizing: border-box;
}

.content-container {
	background-color: var(--content-bg);
	grid-row: span 2;
	padding: 2rem 20vw 2rem 20vw;
	display: flex;
	flex-direction: column;
}

.content-button {
	max-width: 30vw;
	box-sizing: border-box;
	margin-top: 0.5rem;
}

.content-title {
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}

.create-button {
	background-color: var(--button-green);
	border-radius: 4px;
}

.cancel-button {
	background-color: var(--button-red);
	border-radius: 4px;
}
